[submodule ".vim/bundle/vimfiler.vim"]
	path = .vim/bundle/vimfiler.vim
	url = https://github.com/Shougo/vimfiler.vim.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/editorconfig.vim"]
	path = .vim/bundle/editorconfig.vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-colors-solarized.git"]
	path = .vim/bundle/vim-colors-solarized.git
	url = git://github.com/altercation/vim-colors-solarized.git
